@using Orchard.ContentManagement;
@{
	IEnumerable<object> latest = Model.ContentItems;
}
@if (latest == null || latest.Count() < 1) {
<p>@T("No related content.")</p>
}
else {
	<ul class="content-items">
    @foreach (dynamic item in latest) 
	{
        string title = item.Title;
        ContentItem contentItem = item.ContentItem;
        <li class="content-item-summary">
		@if( Model.ShowListOnly )
		{
			@Html.ItemDisplayLink(title, contentItem)
		}
		else
		{
			@Display(item)
		}
        </li>
    }
    </ul>
}
