/*  Color Palette
**************************************************************
Top: #848975
Dark: #27320A
BG: #f6fafa
White
Black
Link: #0099ff;
*/
/* Resets
***************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
:focus { outline: 0; }
ol, ul { list-style: none; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
header, footer, aside, nav, article { display: block; }

/* Float clears
******************************************************************/
.group:after, .zone:after, .widget-control:after
{
	content: ".";
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden;
}
/* Widgets
***************************************************************/
.widgets {}
.widget h1 { font-size: 1.077em; }
.widget + .widget
{
	margin-top:18px;
}
/* Edit Mode Widgets */
/* These are the edit controls that appear when you're logged-in */
.widget-control { position: relative; border: 1px dotted #5f97af; }
.widget-control .manage-actions { position:absolute; top: 0px; right: 0px; }
.widget-control .manage-actions a { display: block; background-color: #dbdbdb; color: #434343; padding: 3px 6px;  }
.widget-control .manage-actions a:hover { background-color: #434343; color: #fff; text-decoration: none; }

.widget-nav-list{ margin: 0px 0px; padding: 0px 0px; }
.widget-nav{ display: block; background-color: #e9eaeb; padding: 5px 5px; margin-bottom: 3px; }
.widget-nav-active{ background-color: #ff9900; color: White; font-weight: bold; }

/* Content Mode */
.content-control { position: relative; border: 1px dotted #5f97af; }
.content-control .manage-actions { position:absolute; top: 0px; right: 0px; }
.content-control .manage-actions a { display: block; background-color: #dbdbdb; color: #434343; padding: 3px 6px;  }
.content-control .manage-actions a:hover { background-color: #434343; color: #fff; text-decoration: none; }

/* General styling
******************************************************************/
body 
{
	background-color: #f6fafa;

	font-size: 81.3%;	/* Sets 1em = 13px/10pt */
	color: black; 
	font-family: Tahoma, "Helvetica Neue", Arial, Helvetica, sans-serif;
}
h1{ font-size: 2em; }
h1.widget-title{ font-size: 1.1em; font-weight: bold; border-bottom: 1px dotted black; margin-bottom: 8px; padding-bottom: 2px;}
h1.page-title{ font-size: 2em; border-bottom: 1px dotted black; margin-bottom: 8pt; padding-bottom: 2px; }
h2{ font-size: 1.9em; }
h3{ font-size: 1.8em; }
h4{ font-size: 1.5em; }
h5{ font-size: 1.4em; }
h6{ font-size: 1.2em; }

p{ margin: 0 0 1em; line-height: 1.538em; }


a{ color: #0099ff; text-decoration: none; }
a:focus, a:hover{ text-decoration: underline; }

.publishinfo
{
	color: #333;
	font-size: 0.9em;
	margin-bottom: 5px;
}

UL.content-items LI
{
	border-bottom: 1px dotted #333;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
UL.content-items LI.last
{
	border-bottom: none;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

/* Layout
******************************************************************/
#layout-header
{
	background-color: #848975;
	height: 125px;
}
	#layout-branding
	{
		width: 960px;
		height: 125px;
		margin: 0px auto 0px auto;
	}
		#layout-branding-home
		{
			display: block;
			position: relative;
			left: 11px;
			top: 21px;
			width: 235px;
			height: 80px;
			background-image: url(logo.png);
			background-repeat: no-repeat;
		}
		#layout-basket-area
		{
			float: right;
			margin: -30px 20px 0px 0px;
		}

	#layout-navigation
	{
		background-color: #27320A;
		height: 35px;
	}
		#layout-navigation ul 
		{
		    display: block;
		    padding: 0px;
			margin: 0px auto 0px auto;
			width: 960px;
		}
		#layout-navigation ul li
		{
			display: inline-block;
			padding: 5px 12px;
			margin: 5px 15px;
		}
		#layout-navigation ul li.current 
		{
			background-color: #848975;
			border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
			text-shadow: 1px 1px 2px rgba(0,0,0,0.5)			
		}
		#layout-navigation ul a 
		{
			font-weight: bold;
			font-size: 1.0em;
			color: white;
			text-decoration: none;
		}

#layout-body, #layout-before-body, #layout-tripanel, #layout-messages
{
	width: 920px;	/* 960 with 20px padding */
	margin: 0px auto 0px auto;
	background-color: White;
	padding: 20px 20px 0px 20px;
}
#layout-messages{ width: 940px; padding: 10px 10px 0px 10px; }
.message, .validation-summary-errors { margin:10px 0 4px 0; padding:4px; }
.messages a { font-weight:bold; }
.message-Information { background:#e6f1c9; /* green */ border:1px solid #cfe493; color:#062232; }
.message-Warning { background:#fdf5bc; /* yellow */ border:1px solid #ffea9b; }
.critical.message, .validation-summary-errors, .message-Error { background:#e68585; /* red */ border:1px solid #990808; color:#fff; }

.page UL
{
	margin: 10px 0px 10px 0px;
	padding-left: 35px;
}

.page LI
{
	margin: 2px 0px 2px 0px;
	list-style-type: disc;
}

#layout-footer-pad
{
	width: 960px;
	height: 20px;
	background-color: white;
	margin: 0px auto 0px auto;
}

#zone-before-body
{
	width: 920px;
}

#zone-body /* Default body zone accommodates a right hand 290px zone */
{
	float: left;
	width: 610px;
}
#zone-body.without-sidebar /* Without the sidebar, body fills page */
{
	width: 920px;
}
#zone-body-sidebar
{
	float: right;
	width: 290px;
	margin-left: 20px;
}

#zone-tripanel-left
{
	float: left;
	width: 290px;
	margin-right: 20px;
}
#zone-tripanel-center
{
	float: left;
	width: 300px;
	margin-right: 20px;
}
#zone-tripanel-right
{
	float: left;
	width: 290px;
}

