@using SampleSiteModule.Models

@if (Model.Tweets.Count < 1)
{
	<p>There are no tweets for @Model.TwitterUserName</p>
}
else
{
	foreach (Tweet tweet in Model.Tweets)
	{
		<p><a href="@tweet.Link" target="_blank">@tweet.Text</a>
			<br/>
			@tweet.FriendlyDate
		</p>			
	}
}