@* This overrides the default widget wrapper *@
@using Orchard.ContentManagement;
@using Orchard.Widgets.Models;

<div>
	<h4>@T("Screenshots")</h4>
    @Display(Model.Metadata.ChildContent)
</div>